#app-wrapper {
  display: flex !important;

  width: 100%;
  height: 100%;
}

#app-sidemenu {
  height: 100% !important;
  width: 250px !important;
}

.app-content {
  overflow-y: auto;
  width: calc(100% - 238px) !important;
  height: 100%;
  padding-bottom: 15px;
}

.content-header-title {
  height: 35px;
  line-height: 35px;
  margin-bottom: 15px;
}

.content-header > h3 {
  color: #000;
}

.content-footer {
  padding-top: 15px;
}

.table-wrapper-fixed {
  margin-top: 20px;
  overflow-y: auto;
  max-height: calc(100vh - 186px);
  border: 1px solid rgba(34, 36, 38, 0.15);
  border-radius: 4px;
}

.table-wrapper {
  margin-top: 20px;
  overflow-y: auto;
  max-height: calc(100vh - 135px);
  border: 1px solid rgba(34, 36, 38, 0.15);
  border-radius: 4px;
}

tr:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

table {
  border: none !important;
}

table > thead {
  position: sticky;
  z-index: 1000;
  top: 0;
  background: white;
}