div.ui.form {
  width: 400px;
  position: absolute;
  top: calc(50% - 20px);
  left: 50%;
  transform: translate(-50%, -50%);
}

#form-title {
  font-size: 24pt;
  margin-bottom: 20px;
  margin-left: -2px;
  color: #333;
}

button[type="submit"]#login-btn {
  margin-bottom: 10px;
}

button > i {
  float: right;
  margin-right: -6px;
  margin-left: -6px;
}
