body {
  background-color: #f5f5f5;
}

div.ui.form {
  width: 400px;
  border-radius: 4px;
  background-color: #fff;
  padding: 15px;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: calc(50% - 20px);
  left: 50%;
  transform: translate(-50%, -50%);
}

#form-title {
  color: #333;
  font-size: 18pt;
  margin-bottom: 20px;
  margin-left: -2px;
}

button[type="submit"]#login-btn {
  margin-bottom: 10px;
}

button > i {
  float: right;
  margin-right: -6px;
  margin-left: -6px;
}
